<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mikedg.glass.control">

    <!-- for showing ip address -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- for connecting to adb over tcp -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- For debug overlay -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- for status messages of the service -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <!-- for ACRA reporting of crashes -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- For custom voice command showing up in the Ok, Glass menu -->
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <!-- For turning the screen on after a wink -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:name=".TiltControlApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
        <activity
                android:name="com.mikedg.glass.control.MainTouchableActivity"
                android:label="Touch Setup"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action
                        android:name="com.google.android.glass.action.VOICE_TRIGGER"/>
            </intent-filter>

            <meta-data
                    android:name="com.google.android.glass.VoiceTrigger"
                    android:resource="@xml/voice_trigger"/>
        </activity>
        <!--<activity-->
        <!--android:name="com.mikedg.glass.control.MainVoiceableActivity"-->
        <!--android:label="Voice Setup" android:screenOrientation="landscape">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action-->
        <!--android:name="com.google.android.glass.action.VOICE_TRIGGER" />-->
        <!--</intent-filter>-->
        <!--<meta-data android:name="com.google.android.glass.VoiceTrigger"-->
        <!--android:resource="@xml/voice_trigger" />-->
        <!--</activity>-->
        <service android:name=".GlassControlService"/>

        <activity
                android:name=".voiceactivities.TiltStartActivity"
                android:label="Toggle Tilt Start Zone"
                android:screenOrientation="landscape">
            <intent-filter>
                <action
                        android:name="com.google.android.glass.action.VOICE_TRIGGER"/>
            </intent-filter>
            <meta-data
                    android:name="com.google.android.glass.VoiceTrigger"
                    android:resource="@xml/voice_trigger"/>
        </activity>
    </application>

</manifest>
